.selection {
  padding: 8px 8px 0 !important;
}

.selection .selectionLabel {
  text-transform: uppercase;
  font-size: 11px;
  color: rgb(108, 119, 135);
  margin: 0px 0px 8px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
